<h1 class="row flex-center quizName"></h1>
<div class="topleft"><a href="/">
        <p><span class="badge secondary">&lt;-</span> Take me back home!</p>
    </a></div>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>

    <tbody class="liststart" data-id="{{currentQuiz}}">
        {{!-- <tr>
            <td>1</td>
            <td>YourMom</td>
            <td>420</td>
        </tr> --}}
    </tbody>

</table>

{{!--
<script src="/js/confetti.js"></script> --}}
<script>
    const start = () => {
        setTimeout(function () {
            confetti.start();
        }, 0);
    };

    const stop = () => {
        setTimeout(function () {
            confetti.stop();
        }, 5000)
    }
    start();
    stop();
</script>

</div>
<script src="/js/scoreboard.js"></script>