 <div class="topleft"><a href="/">
      <p><span class="badge secondary">&lt;-</span> Take me back home!</p>
    </a></div>
  <div class="row flex-center">
    <h1>Which Song Has More Views?</h1>
  </div>

  <div class="row flex-center">

    <div class="card" style="width: 20rem;" id="music-card-one">
      <img id="musicOneImage">
      <div class="card-body">
        <h4 class="card-title" id="titleOne">Song Title Here</h4>
        <div class="col-12 col">
          <button class="btn-block" id="higherOne">HIGHER!</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 20rem;" id="music-card-two">
      <img id="musicTwoImage" alt="Image of a YouTube video thumbnail.">
      <div class="card-body">
        <h4 class="card-title" id="titleTwo">Song Title Here</h4>
        <div class="col-12 col">
          <button class="btn-block" id="higherTwo">HIGHER!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-center">
    <p id="score"></p>
  </div>