<div class=" col-12 col form-group">
    <label for="nameInput">Enter your quiz name <span id="quizNameBadge"
            class="hidden badge success">DONE!</span></label>
    <input type="text" placeholder="quiz name" id="nameInput">

    <input id="submitName" type="button" class="btn-primary-outline col-12 col form-group" value="Add Name" />
</div>