<body class="paper">
    <h1 class="row flex-center"> YourMom is the WINNER!</h1>
    <div class="row flex-center">
        <a href="/"><button class="btn-large btn-danger-outline">Home</button></a>
        <a href="/lobby"><button class="btn-large btn-success-outline">Play Again!</button></a>
      </div>

    <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Points</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>YourMom</td>
            <td>420</td>
          </tr>
          <tr>
            <td>2</td>
            <td>JohnCena</td>
            <td>69</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Noob9000</td>
            <td>1</td>
          </tr>
        </tbody>

      </table>
</body>