<div id="youtubeInput" class="hidden col-12 col form-group">
    <label for="paperInputs1">Enter YouTube URL</label>
    <input id="URLInput" type="text" placeholder="URL" id="urlInput1">
    <input id="submitURL" type="button" class="btn-primary-outline col-12 col form-group" value="Add Link" />
</div>