<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css">
    <title>Music Quiz</title>
</head>

<body class="row paper margin-top-small padding-left-large col-4 col">

    <div class="row flex-center">
        <h1 class ="col-12 col">Login</h1>
        <div class=" col-12 col form-group">
            <label for="paperInputs1">Username:</label>
            <input type="text" placeholder="Enter your username here" id="usernameInput">
          </div>

          <div class=" col-12 col form-group">
            <label for="paperInputs1">Password:</label>
            <input type="text" placeholder="Enter your password here" id="passwordInput">
          </div>

          <input type="button" class="btn-primary-outline col-12 col form-group" value="Login"/>
          <a href="#">Don't have an account?</a>
    </div>
    
</body>

</html>