<body class="row paper margin-top-small padding-left-large col-4 col">

  <div class="row">
    <h1 class="col-12 col">Quiz Creation</h1>
    <div class=" col-12 col form-group">
      <label for="paperInputs1">Enter YouTube URL</label>
      <input type="text" placeholder="Enter your username here" id="urlInput1">
    </div>

    <div class=" col-12 col form-group">
      <label for="paperInputs1">Enter YouTube URL</label>
      <input type="text" placeholder="Enter your password here" id="urlInput2">
    </div>

    <div class=" col-12 col form-group">
      <label for="paperInputs1">Enter YouTube URL</label>
      <input type="text" placeholder="Enter your password here" id="urlInput3">
    </div>

    <div class=" col-12 col form-group">
      <label for="paperInputs1">Enter YouTube URL</label>
      <input type="text" placeholder="Enter your password here" id="urlInput4">
    </div>

    <input type="button" class="btn-primary-outline col-12 col form-group" value="Add More Links" />

    <input type="button" class="btn-success-outline col-12 col form-group" value="Create Quiz!" />
  </div>

</body>