<body class="row paper margin-top-small padding-left-large col-4 col">

  <div class="row">
    <h1 class="col-12 col">Quiz Creation</h1>

    {{>quiz-name}}
    {{>youtube-url}}



    <input id="create-quiz" type="button" class="hidden btn-success-outline col-12 col form-group"
      value="Create Quiz!" />
  </div>
  <script src="/js/createQuiz.js"></script>
</body>