<body class="row paper margin-top-small padding-left-large col-4 col">
  <div class="topleft"><a href="/">
      <p><span class="badge secondary">&lt;-</span> Take me back home!</p>
    </a></div>
  <div class="row">
    <h1 class="col-12 col">Quiz Creation</h1>

    {{>quiz-name}}
    {{>youtube-url}}



    <buttion><input id="create-quiz" type="button" class="hidden btn-success-outline col-12 col form-group"
        value="Create Quiz!" /></a>
  </div>
  </div>
  <script src="/js/createQuiz.js"></script>
</body>