<body class="row paper margin-top  sm-12 md-6 lg-4 col">
<div class="topleft"><a href="/"><p><span class="badge secondary">&lt;-</span> Take me Home!</p></a></div>

  <form class="row flex-center login-form"style="width: 20rem;">
    <h1 class="col-12 col">-Login-</h1>
    <div class=" col-12 col form-group">
      <label for="paperInputs1">Username:</label>
      <input type="text" placeholder="Enter your username here" id="username-login">
    </div>

    <div class=" col-12 col form-group">
      <label for="paperInputs1">Password:</label>
      <input type="password" placeholder="Enter your password here" id="password-login">
    </div>

    <button type="submit" class="btn-primary-outline col-12 col form-group">Login
    </button>
    <a href="/users/signup">Don't have an account?</a>
  </form>
</body>