<body class="row paper margin-top-small padding-left-large col-4 col">

  <div class="row flex-center">
    <h1 class="col-12 col">Login</h1>
    <div class=" col-12 col form-group">
      <label for="paperInputs1">Username:</label>
      <input type="text" placeholder="Enter your username here" id="usernameInput">
    </div>

    <div class=" col-12 col form-group">
      <label for="paperInputs1">Password:</label>
      <input type="text" placeholder="Enter your password here" id="passwordInput">
    </div>

    <input type="button" class="btn-primary-outline col-12 col form-group" value="Login" />
    <a href="#">Don't have an account?</a>
  </div>

</body>