<body class="paper">

  <nav class="border fixed split-nav">
    <div class="nav-brand">
      <h3>Welcome Guest!</h3>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
          <label class="paper-btn" for="modal-about">About</label>
          <input class="modal-state" id="modal-about" type="checkbox">
          <div class="modal">
            <label class="modal-bg" for="modal-about"></label>
            <div class="modal-body">
              <h4 class="modal-title">What is This?</h4>
              <p class="modal-text">Music Quiz was a 1 week project made during a bootcamp course created by Jordan
                Johnson, Sangmi Yun, David Kovalchuk, and a whole lot of guava.</p>
              <label for="modal-about">Nice!</label>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row flex-center">
    <h1>Which Song Has More Views?</h1>
  </div>

  <div class="row flex-center">

    <div class="card" style="width: 20rem;" id="music-card-one">
      <img id="musicOneImage">
      <div class="card-body">
        <h4 class="card-title" id="titleOne">Song Title Here</h4>
        <div class="col-12 col">
          <button class="btn-block" id="higherOne">HIGHER!</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 20rem;"  id="music-card-two">
      <img id="musicTwoImage" alt="Image of a YouTube video thumbnail.">
      <div class="card-body">
        <h4 class="card-title" id="titleTwo">Song Title Here</h4>
        <div class="col-12 col">
          <button class="btn-block" id="higherTwo">HIGHER!</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row flex-center">
    <p id="score"></p>
  </div>

<script src="/js/gamefunction.js"></script>
</body>