<body class="row paper margin-top-small padding-left-large col-4 col">

  <div class="row flex-center">
    <h1 class="col-12 col">Sign Up!</h1>
    <div class=" col-12 col form-group">
      <label for="paperInputs1">Username:</label>
      <input type="text" placeholder="Enter your username here" id="usernameSignup">
    </div>

    <div class=" col-12 col form-group">
      <label for="paperInputs1">Password:</label>
      <input type="text" placeholder="Enter your password here" id="passwordSignup">
    </div>

    <div class=" col-12 col form-group">
      <label for="paperInputs1">Confirm Password:</label>
      <input type="text" placeholder="Enter your password here" id="passwordConfirm">
    </div>

    <input type="button" class="btn-primary-outline col-12 col form-group" value="Sign Me Up!" />
    <a href="#">Already Have an Account?</a>
  </div>

</body>